<div class="Home">
    <h1 class="Home__title Utilities__header">Welcome to the Crunchy Development Blog</h1>
    <p class="Home__para">This blog is for those with an interest in programming, coding, or development.</p>
    <p class="Home__para">This site is built with Ruby on Rails and hosted through a reverse proxy using Nginx and Docker.</p></div>
    <p class="Home__para">Starting off the Tutorial series, Learn how to make this site here.</p>
</div>
